html, body{
  font-family: Helvetica;
  font-size: 18px;
}
.container {
  padding: .66rem;
  max-width: 100%;

}

.header {
  background-color: black;
}
.header img {
  padding: .66rem 1rem .66rem .5rem;
  display: inline;
  height:1.5rem;

}
.header h2 {
  color: white;
  display: inline;
  padding: .66rem;
}
