html, body{
  font-family: Helvetica;
  font-size: 18px;
}
.container {
  padding: .66rem;
  max-width: 100%;

}


.header {
  background-color: black;
}
.header img {
  padding: .66rem 1rem .66rem .5rem;
  display: inline-block;
  height:1.5rem;

}
.header h2 {
  color: white;
  display: inline-block;
  padding: .66rem;
  font-size: 1rem;
}


.title {
  margin: 0;
  width: 100%;
  height: 25rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
  padding: 0;
}


.text{

  background-color: black;
  width: 20rem;
  height: 5rem;
}

.text h1{
  font-weight: bold;
  display: inline-block;
  color: white;
  font-size: 2rem;
}



.main li {
  display: inline-block;
  font-size: 1rem;
  color: white;
}
.main {
  background-color: firebrick;
  max-width: 100%;
}
.products h4 {
  color: white;
  background-color: black;


}
.products {
border: 4px solid black;
width: 30%;


}
.products img {
  height: 9rem;
  padding: 2rem;
  margin: 3rem;
}
.productdisplay {
  display: inline;
}

.location .hours {
  display: inline;
  width: 35%;

}

.info h4 {
  background-color: black;
  color: white;
}
